{% extends "base.html" %}
{% load static %}
{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
         id="navbarBlur"
         navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                   role="alert">
                {{ message }}
                <!-- {% if form.errors and form.non_field_errors %}{{ form.non_field_errors }}{% endif %} -->
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
          <h6 class="font-weight-bolder mb-0">Hexashop</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
             id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'logout' %}"
                 class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <button class="btn btn-primary" id="logoutButton">Log out</button>
              </a>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        {% for globs in glob %}
          <a class="navbar-brand m-0" href="" target="_blank">
            <img src="{{ globs.logo.url }}"
                 class="navbar-brand-img h-100"
                 alt="main_logo" />
          </a>
        {% endfor %}
      </div>
    {% endblock content %}
